@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Space Mono";
  background-color: #C5E4E7;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .logo {
  max-width: 87px;
  margin: 10% 0 10% 0;
}
main .container {
  background-color: #FFFFFF;
  width: 100%;
  box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
  border-radius: 25px 25px 0px 0px;
  padding: 0 10%;
}
main .container .bill p {
  color: #5E7A7D;
  font-size: 16px;
  font-weight: 700;
}
main .container .bill input[type=number] {
  background-image: url(./images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 10px;
  background-color: #F3F9FA;
  border-radius: 5px;
  width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: 24px;
  color: #00474B;
  border: none;
  padding: 16px 0;
}
main .container .tip p {
  font-weight: 700;
  font-size: 16px;
  color: #5E7A7D;
  margin-top: 32px;
}
main .container .tip div {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  margin: 10px 0 10px 0;
}
main .container .tip div button {
  background: #00474B;
  border-radius: 5px;
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
}
main .container .tip div input[type=number] {
  background: #F3F9FA;
  border-radius: 5px;
  border: none;
  font-size: 24px;
  font-weight: 700;
  color: #547878;
  text-align: center;
  max-width: 140px;
}
main .container .numberpeople p {
  font-size: 16px;
  font-weight: 700;
  color: #5E7A7D;
  margin-bottom: 6px;
}
main .container .numberpeople input[type=number] {
  background: #F3F9FA;
  border-radius: 5px;
  border: none;
  width: 100%;
  background-image: url(./images/icon-person.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 10px;
  font-size: 24px;
  font-weight: 700;
  text-align: right;
  color: #00474B;
  padding: 16px 0;
}
main .container .calculate {
  background: #00474B;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 32px 0;
}
main .container .calculate button {
  color: #00474B;
  background: #26C2AE;
  border-radius: 5px;
  padding: 18px 0;
  margin: 24px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  border: none;
}
main .container .calculate .tipamount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 22px;
}
main .container .calculate .tipamount span {
  color: #26C2AE;
  font-size: 32px;
  font-weight: 700;
}
main .container .calculate .tipamount h2 {
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
}
main .container .calculate .tipamount h2 span {
  color: #7F9D9F;
  font-weight: 700;
  font-size: 13px;
}
main .container .calculate .totalamount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 22px;
}
main .container .calculate .totalamount span {
  color: #26C2AE;
  font-size: 32px;
  font-weight: 700;
}
main .container .calculate .totalamount h2 {
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
}
main .container .calculate .totalamount h2 span {
  color: #7F9D9F;
  font-weight: 700;
  font-size: 13px;
}/*# sourceMappingURL=style.css.map */